<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{{ site.siteurl }}/assets/css/style.css">
<script defer src="{{ site.siteurl }}/assets/js/fontawesome-all.js"></script>
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% if page.mapbox_css %}
{% for version in page.mapbox_css %}
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/{{ version }}/mapbox-gl.css' rel='stylesheet' />
{% endfor %}
{% endif %}
