---
layout: default
---

<h1>{{ page.title }}</h1>

{% if page.links %}
<p>
  <a href="{{ site.baseurl }}/{{ site.scripts }}/{{ page.links.script }}"
     class="iconlink" download title="Get script">
    <i class="fas fa-code fa-2x"></i>
  </a>
  &nbsp;&nbsp;
  {% if page.links.data %}
  <a href="{{ site.baseurl }}/{{ site.data }}/{{ page.links.data }}"
     class="iconlink" download title="Get data">
    <i class="fas fa-database fa-2x"></i>
  </a>
  {% endif %}
</p>
{% endif %}

{{ content }}
